body {
    font-family: Arial;
    margin: 0;
    padding: 20px;
    background-color: #f1f1f1;
    font-style: italic;
}

* {
    box-sizing: border-box;
}

.row:after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-color: #ffffff;
    padding: 20px;
    border:2px solid #000000;
}
.right-column .card img {
    margin-bottom: 10px;
}


footer {
    background-color: #dddddd;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}